/* CSS för individuell sida */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: lightgray;
}
main{
    display: flex;
    background-color: white;
    width: 60vw;
    margin: 16vh auto;
    height: 60vh;
    border: 3px solid black;
}
.textcontainer{
    background-color: pink;
    height: 50vh;
    width: 25vw;
    margin: auto auto;
    outline: 5px dashed black;
}
.textcontainer h1{
    margin-top: 1vh;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
.textcontainer h2{
    margin-left: 1vw;
}
.textcontainer p{
    margin: 1vh 1vw;
}
.imgcontainer{
    height: 50vh;
    width: 25vw;
    margin: auto auto;
    outline: 5px solid pink;
}
img{
    width: 100%;
    height: 100%;
}
header{
    position: fixed;
    top: 0;
    background-color: darkgray;
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav{
    width: 60vw;
    height: 7vh;
    display: flex;
}
.group_link{
    margin-left: 20vw;
    width: 7.5vw;
    height: 7vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
.container{
    display: flex;
    width: 60vw;
}
.nav_group{
    width: 30vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 25vw;
}
.nav_link{
    height: 2vh;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 140%;
}
footer{
    background-color: darkgray;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 7vh;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
header a:link{
    color: black;
    text-decoration: none;
}
header a:visited{
    color: black;
    text-decoration: none;
}
header a:hover{
    background-color: grey;
}
footer a{
    color: black;
}
main a{
    color: black;
    text-decoration: 3px underline solid black;
    background-color: rgb(169, 169, 169, .5);
}





