:root {
    --white: hsl(210, 17%, 98%);
    --super_lightgrey: hsl(210,16%,93%);
    --lightgrey: hsl(210,14%,89%);
    --medgrey: hsl(210,14%,83%);
    --grey: hsl(210,11%,71%);
    --grayer: hsl(208,7%,46%);
    --darkgrey: hsl(210,9%,31%);
    --footergrey: hsl(210,10%,23%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Verdana; src: url(../fonts/verdana.ttf);
}

html {
    font-size: 12px;
    font-family: Verdana;
}

body {
    background-color: var(--medgrey);

}
footer {
    height: 200px;
    background-color: var(--footergrey);
}
a:visited {
    text-decoration: none;
    color: var(--lightgrey);
}
.container {
    width: 1280px;

    margin: 0 auto;

}
/* -- HÄR NEDAN ÄR CSS FÖR NAV -- */
.nav {
    display: flex;
    align-items: flex-end;
    height: 7rem;
    background-color: var(--footergrey);

}
.nav_links {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 5rem;
}

.nav_group {
    display: flex;
}
.nav_link {
    display: block;
    text-decoration: none;
    padding: 1rem 1rem;
    color: var(--lightgrey);
    text-decoration: none;
}
.nav_link::selection {
    background-color: var(--lightgrey);
    color: var(--footergrey);
}
.nav_link:hover,
.nav_link_current {
    color: var(--lightgrey);
    box-shadow: inset 0 -0.2rem var(--super_lightgrey);
}
.image_container {
    max-width: 100%;
}
.main-image {
    height: 20rem;
    background-image: linear-gradient(90deg, var(--grayer), var(--footergrey), var(--grayer)),  url(../img/main_image.webp);
    background-size: cover;
    background-blend-mode:multiply;
    background-position: left bottom;
    
}






/* -- HÄR NEDAN ÄR CSS FÖR MAIN CONTENT -- */


.main_content {
    background-color: var(--medgrey);
    height: 1280px;
    width: 1280px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    margin: 0 auto;
    padding: 0 5rem;
}
.select_text::selection {
    background: var(--footergrey);
    color: var(--lightgrey);
}
.about_me {
    grid-area: 1 / 1 / 3 / 3;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    letter-spacing: 2px;
    color: var(--footergrey);
}
.about_me p {
    letter-spacing: 0;
    line-height: 1.4;
    max-width: 70%;
}
.my_name {
    margin-bottom: 4rem;
}

.my_face {
    grid-area: 1 / 3 / 3 / 5;
    background-image: linear-gradient(90deg, var(--grayer), var(--grayer)),  url(../img/alex.webp);
    background-blend-mode:multiply;
    background-size: cover;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid var(--footergrey);
    box-shadow: 6px 12px 15px 9px rgba(0,0,0,0.75);
}


.interest_links {
    grid-area: 3 / 1 / 5 / 3;
    margin: 2rem 0;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-top: 5px solid var(--footergrey);
}
.link_text {
    color: var(--footergrey);
    text-transform: uppercase;
    text-decoration: none;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 40%;
    padding-left: 1rem;
}
.btn {
    display: inline-block;
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;
    text-decoration: none;
    height: 30%;
    width: 30%;
    border-width:1px;
    color: var(--lightgrey);
    border-color:#dcdcdc;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px var(--lightgrey);
    background:linear-gradient(var(--footergrey), var(--grayer));
}

.btn:hover {
    background:linear-gradient(var(--grayer), var(--lightgrey));
    color: var(--darkgrey);

}
.interests {
    grid-area: 3 / 3 / 5 / 5;
    margin: 2rem 0;
    border-top: 5px solid var(--footergrey);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}
.about_text {
    color: var(--footergrey);
    padding-left: 1rem;
    height: 12rem;
    padding-top: 2rem;
    
}
.about_text {
    line-height: 1.7;
}
.about_text::selection {
    background: var(--footergrey);
    color: var(--lightgrey);
}
.my_name {
    font-size: 3rem;
    text-transform: uppercase;
}
.info {
    margin: 1rem auto;
    text-transform: uppercase;
}


/* -- HÄR NEDAN ÄR CSS FÖR FOOTER -- */
.contact_info {
    display: flex;
    align-items: center;
    padding-left: 5rem;
    height: 200px;
}
.email_link {
    font-size: 2rem;
    color: var(--medgrey);
    text-decoration: none;
    margin-left: 3rem;
}
.email_link:hover {
    border-bottom: 2px solid var(--medgrey);
}
.email_link::selection, .mail_me::selection{
    color: var(--footergrey);
    background-color: var(--medgrey);
    
}
.mail_me {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--medgrey);
    padding-left: 1rem;
}

