* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(180deg,#112d60,#dd83e0);  
}
.html{
    font-size: 12px;
    font-family: 'Times New Roman',serif;
}

footer {
    display: flex;
    align-items: flex-end;
    margin: 10px;
    height: 170px;
    background-image: linear-gradient(180deg,#c5eee2,#f9d4f4); 
}
a:visited {
    text-decoration: none;
    color: #511f52;
}
.container{
    width: 1280px;
    margin:  auto;
    height: auto;
}


/*--NAV--*/
.nav {
    display: flex;
    align-items: flex-end;
    height: 4rem;
    margin: 10px auto;

}
.nav_links {
    border: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0 20rem;
    margin: 2rem 2rem;
    height: 100px;
    width: 97%;
    background-image: linear-gradient(180deg,#c5eee2,#f9d4f4); 
}
.nav_group {
    border: 5px;
    display: flex;
}

.nav_link {
    display: block;
    margin-top: 5rem;
    text-decoration: none;
    padding: 1rem 2rem;
    text-decoration: none;

}
.nav_link:hover,
.nav_nav_current {
    color: #f092a5;
    box-shadow: inset 1px 1px 1px 1px #87244c;

}

.header::selection,
.text_about::selection {
    background-color: #6E3B64;
    color: #FEC8D8;
}

/*--Main Content--*/
.main_content {
    background-image: linear-gradient(145deg,#fbc2eb,#78a3eb);
    height: 1280px;
    width: 1280px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    margin: 0 auto;
    padding: 0 5rem;

}
.about_me {
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    letter-spacing: 2px;
    display: block ;


}
.picture {
    width: 27rem;
    margin: 10px;
    margin-top: 13px;
    border-radius: 10px;
}
.name {
    margin-bottom: 4rem;
    margin-right: 4rem;
    letter-spacing: normal;
    padding-left: 0;
    font-size: 3rem;
    text-transform: uppercase;
    width: 30rem;

}
.details {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    letter-spacing: 2px;
    border:  #6E3B64;
}




/*-FOOTER-*/
.contact_info {
    display: flex;
    align-items: center;
    padding-left: 5rem;
    margin:10px;

}
.mail_me{
    text-transform: uppercase;
    font-size: 3rem;
}

.email_icon {
    width: 8rem;
    background-image: linear-gradient(180deg,#112d60,#dd83e0); 
    box-shadow: 1px 1px 2px darkorchid;
    margin:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}