
/*CUSTOM PROPERTIES*/

:root {
    --color-1:rgb(252, 104, 148);
    --color-2: #262e27;
    --bg: rgb(250, 250, 250);
    --text: rgb(0, 0, 0);
}

/* GENERIC*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text);
    background-color: var(--bg);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


  /* NAVIGATION */

.nav {
    display: flex;  
    align-items: flex-end;
    height: 30rem;
    background-image: url(../img/blommor.webp); 
    background-size: cover;   
}

.nav_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Bradley hand itc;
    font-size: 3rem;
    text-decoration: none;
}

.nav_group {
    display: flex;
}

.nav_link {
    display: block;
    font-size: 2rem;
    letter-spacing: 1px;
    color: var(--bg);
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 1rem;    
}

.nav_link:hover {
    color: pink;    
}

.nav_link_current {
    box-shadow: inset 0 -0.5rem var(--color-1);
}

/* ANNA SECTION */

.anna {
    margin-top: 12rem;    
}

.anna__intro {
    width: 66%;
    padding-left: 5rem;
    padding-bottom: 2rem;
    border-left: .1rem solid #262e27;
}

.anna__heading {
    font-family: bradley hand itc;
    font-size: 8rem;
    font-weight: 400;
    color: var(--color-2);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.anna__summary {
    font-size: 2.8rem;
    font-weight: 100;
    font-family: Bradley hand itc;
    letter-spacing: 1px;
    color: var(--color-1);
}

.anna__content {
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
}

.anna__image{
    width: 28%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 4rem;
}

.anna__text {
    width: 48%;
    max-height: 50rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-left: .1rem solid var(--color-1);
}

.anna__paragraph {
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.anna__paragraph:first-child::first-letter {
    font-family: Bradley hand itc;
    float: left;
    color:var(--color-1);
    font-size: 9.6rem;
    font-weight: 900;
    line-height: 60px;
    padding-top: 1rem;
    padding-right: 2rem;    
}

.a__link {
    font-family: Bradley hand itc;
    font-size: 2rem;
    color: #262e27;
    text-decoration: none;
}

.a__link:hover {
    color: pink;    
}

/*FOOTER*/

.footer {
    background-color:#262e27;
    padding-top: 6rem;
    padding-bottom: 4rem;
    margin-top: 10rem;
}

.footer__link,
.contact {
    display: block;
    font-family: Bradley hand itc;
    font-size: 2rem;
    color: var(--bg);
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-bottom: 3rem;
}

.footer__link:hover {
    color: pink;
}

