/** Remove Padding and Margin **/
body {
  padding: 0;
  margin: 0;
}

/** Header CSS **/
/** Grid Container **/
.header_grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: rgba(44, 44, 44, 0.8);
}

/** Grid Item **/
.header_grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Grid Logo **/
.header_grid_item:nth-child(4) {
  align-items: initial;
  justify-content: initial;
  padding-left: 35%;
}

/** Nav Group Container **/
.nav_group {
  display: grid;
  grid-template-columns: auto;
  background-color: rgba(66, 66, 66, 0.8);
}

/** Nav Group Styling **/
.nav_group_styling {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  text-transform: uppercase;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bolder;
  line-height: 4.27;
  letter-spacing: 2px;
  text-align: center;
  justify-content: center;
  color: whitesmoke;
}

/** Nav Grid Container **/
.nav_grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: rgba(88, 88, 88, 0.8);
}

/** Nav Grid Item **/
.nav_grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  text-transform: uppercase;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.27;
  letter-spacing: 2px;
  text-align: center;
  justify-content: center;
  color: whitesmoke;
  border-style:solid;
  border-color: rgb(22, 22, 22, 0.2);
  border-width: 1px 0px 1px 1px;
  padding-left: 5px;
  padding-right: 5px;
}

/** Current Nav Grid Item **/
.nav_link_current {
  box-shadow: inset 0 -0.3rem rgb(66, 66, 66);
  border-width: 1px 0px 1px 1px;
}

/** Main Content Container **/
.content_container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(110, 110, 110, 0.8);
}

/** Main Content **/
.main_content {
  align-items: center;
  justify-content: center;
}

/** Picture Content **/
.picture {
  float: left;
  width: 20%;
  margin: 10px;
  border-radius: 10px;
}

/** Card Content **/
.card {
  background-color: rgba(166, 166, 166, 0.8);
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 22%;
}

/** Final Card **/
.card:last-child {
  margin-bottom: 16px;
}

/** Topic **/
.topic {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  padding-top: 3px;
  margin-top: 13px;
}

/** Remove Paragraph Margin **/
.text {
 margin: 0;
}

/** Centered Text + Margin Bottom 0 **/
.text_centered {
  text-align: center;
  margin-bottom: 0px;
}

/** Create Scrollable Card Box **/
.scrollable {
  max-height: 670px;
  overflow: auto;
}

/** Horizontal Line Fix **/
.intro_hr {
  margin-right: 10px;
}

/** Ensure Links are Black and not Purple **/
.link {
  color: black;
}

/** Add Bottom-Padding to the Project Links **/
.final_links {
  padding-bottom: 32px;
}

/** Spacer Styling **/
.spacer {
  background-color: rgba(110, 110, 110, 0.8);
  height: 8px;
}